<h2>[% category %]</h2>
[% INCLUDE social/social.tt twitter_text = "Not&iacute;cias Global - $category " %]
[% FOREACH my_news IN category_news.all %]

    <a href="[% c.uri_for(c.controller("News").action_for("news"),id(my_news)) %]">
        <h3>[% my_news.title %]</h3></a>

    <p>[% few_words(my_news.text) %]</p>

[% END %]
