.news {
	width:75%;
	float:left;
}

.menu {
	float:right;
	 width:20%;
}

.last_news { 
    display: block; 
    float: left; 
    margin-right: 2%; 
    width: 45%; 
}

p {
	font-family: arial, helvetica, serif;
	font-size: 13px;
}

h1 {
	font-size: 23px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 17px;
}

.search {
    margin-right: 10%; 
    margin-left: 50%; 
}

.search_feed {
    display: block; 
    float: left; 
    width: 15%; 
    margin-left: 1%; 
}

.form_text {
	padding-bottom: 4%;
	width: 80%;
	color: #000;
	font-weight: bold;
	font-size: 150%;
}

.form_submit {
	width: 19%;
	color: #000;
	font-weight: bold;
	font-size: 150%;
}

.social {
    display: block; 
    float: left; 
    margin-left: 1%; 
    width: 5%; 
}
.no_float {
    display: block; 
    float: left; 
    width: 100%; 
}
